@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 254 47% 12%;
    --foreground: 0 0% 95%;
    --card: 254 47% 15%;
    --card-foreground: 0 0% 95%;
    --popover: 254 47% 15%;
    --popover-foreground: 0 0% 95%;
    --primary: 254 47% 62%;
    --primary-foreground: 254 47% 12%;
    --secondary: 254 47% 18%;
    --secondary-foreground: 0 0% 95%;
    --muted: 254 47% 18%;
    --muted-foreground: 0 0% 70%;
    --accent: 254 47% 62%;
    --accent-foreground: 254 47% 12%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 254 47% 22%;
    --input: 254 47% 22%;
    --ring: 254 47% 62%;
    --chart-1: 254 47% 62%;
    --chart-2: 254 47% 52%;
    --chart-3: 254 47% 42%;
    --chart-4: 254 47% 72%;
    --chart-5: 254 47% 82%;
    --radius: 0.5rem;
    --sidebar-background: 254 47% 10%;
    --sidebar-foreground: 0 0% 90%;
    --sidebar-primary: 254 47% 62%;
    --sidebar-primary-foreground: 254 47% 10%;
    --sidebar-accent: 254 47% 62%;
    --sidebar-accent-foreground: 254 47% 10%;
    --sidebar-border: 254 47% 22%;
    --sidebar-ring: 254 47% 62%;
  }
  .dark {
    --background: 254 47% 12%;
    --foreground: 0 0% 95%;
    --card: 254 47% 15%;
    --card-foreground: 0 0% 95%;
    --popover: 254 47% 15%;
    --popover-foreground: 0 0% 95%;
    --primary: 254 47% 62%;
    --primary-foreground: 254 47% 12%;
    --secondary: 254 47% 18%;
    --secondary-foreground: 0 0% 95%;
    --muted: 254 47% 18%;
    --muted-foreground: 0 0% 70%;
    --accent: 254 47% 62%;
    --accent-foreground: 254 47% 12%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 254 47% 22%;
    --input: 254 47% 22%;
    --ring: 254 47% 62%;
    --chart-1: 254 47% 62%;
    --chart-2: 254 47% 52%;
    --chart-3: 254 47% 42%;
    --chart-4: 254 47% 72%;
    --chart-5: 254 47% 82%;
    --sidebar-background: 254 47% 10%;
    --sidebar-foreground: 0 0% 90%;
    --sidebar-primary: 254 47% 62%;
    --sidebar-primary-foreground: 254 47% 10%;
    --sidebar-accent: 254 47% 62%;
    --sidebar-accent-foreground: 254 47% 10%;
    --sidebar-border: 254 47% 22%;
    --sidebar-ring: 254 47% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
